* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 8px;
    display: flex;
}

header p {
    text-transform: uppercase;
    color: #E25822;
}

aside {
    flex: none;
    width: 310px;
    text-align: justify;
    padding: 0 16px;
}

section {
    padding: 0 16px;
    text-align: justify;
}

h2, h3 {
    text-transform: uppercase;
}

h3 {
    color: #E25822;
    font-weight: normal;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

a[href^=tel] {
    font-weight: bold;
    color: maroon;
}

a[href^=mailto] {
    color: grey;
}